* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-color: black;
}


/* font start */
@font-face {
    font-family: Tektur;
    src: url('Tektur-VariableFont_wdth\,wght.ttf');
}

/* font end */

/* body start */
.homepage {
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    height: 100vh;
    width: 100%;
    border: 2px solid;
    border-color: yellow;
    isolation: isolate;
}

.homepage::after {
    content: '';
    z-index: -1;
    position: absolute;
    background: url('/images/background1.png');
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .8;
}

/* body end */

/* intro start */
.intro {
    color: yellow;
    font-family: Tektur;
    justify-content: space-between;
}

h1 {
    font-size: 80px;
    margin-bottom: 2rem;
}

a {
    margin-top: 5rem;
    padding: 1rem 2rem;
    font-family: Tektur;
    color: yellow;
    font-size: 20px;
    background-color: transparent;
    border: .2px solid;
    border-color: yellow;
    border-radius: 25px;
    text-decoration: none;
}

a:hover {
    background-color: yellow;
    color: black;
}

p {
    margin-top: 4rem;
    margin-bottom: 7rem;
}

/* intro end */



/* for phone version start */
@media screen and (max-width: 600px) {
    .homepage {
        position: relative;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: center;
        width: 100%;
        
    }

    .homepage::after {
        content: '';
        z-index: -1;
        position: absolute;
        background: url('/images/bg2.jpg');
        inset: 0;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .5;
    }

    h1 {
        font-size: 30px;
    }

    a {
        width: 7rem;
        margin-top: 3rem;
        padding: 1rem 2rem;
        font-family: Tektur;
    }

    a:hover {
        background-color: yellow;
    }
}

/* for phone version end */